    /* RESET RULES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --lightblue: #f6f9fc;
    --red: #23566B;
  }

  a,
  a:hover {
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }

  .bg-lightblue {
    background: var(--lightblue);
  }

  .bg-red {
    background: var(--red);
  }

  .text-red {
    color: var(--red);
  }

  .container-fluid-max {
    max-width: 1440px;
  }

  .cover {
    background: no-repeat center/cover;
  }

  .p-15 {
    padding: 15px;
  }

  /* SCROLL ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  .scroll .page-header {
    background: var(--red);
    /* border-radius: 0 0 40% 40%; */
    height: 90px;
    font-size: 120%;

  }

  .scroll .hero {
    transform: scale(0.98);
  }


  /* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-header {
    transition: background 0.5s ease-in-out;
  }

  .page-header .navbar {
    padding: 1rem 0;
  }

  .page-header .navbar-toggler {
    /* the variable is inherited from BS4 built-in variables */
    border-color: var(--white);
  }

  .row p {
    color: white;
  }

  .altura {
    height: 60vh;
  }

  .fa-stack-1x {
    cursor: pointer;
  }

  .fa-stack-1x:hover {
    transform: scale(1.1);
    transition: .3s ease;
  }

  /* BANNER SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  .hero {
    background-attachment: fixed;
    transition: transform 0.5s ease-in-out;
  }

  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0,
        rgba(0, 0, 0, 0.3) 50%,
        rgba(0, 0, 0, 0.1) 100%);
  }

  .hero .container-fluid {
    z-index: 10;
  }

  .fa-map-marked:before {
    content: "\24D5";
  }

  .color {
    color: #23566B !important;
  }

  /* POPULAR DESTINATIONS SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  .popular-destinations figure {
    margin-bottom: 30px;
  }

  .popular-destinations figcaption {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  .popular-destinations img {
    filter: grayscale(100%) blur(3px);
    transition: transform 0.5s, filter 0.75s;
  }

  .popular-destinations a:hover img {
    filter: none;
  }


  /* PAGE FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-footer .footer-links {
    text-align: right;
  }

  /* MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* MEDIUM SCREENS */
  @media screen and (max-width: 991px) {
    .page-header {
      background: var(--red);
    }
  }

  /* SMALL SCREENS */
  @media screen and (max-width: 767px) {
    .page-footer .footer-child {
      text-align: center;
    }
  }

  /*SLIDER*/


  .slider {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 1em;
    width: 1200px;
    height: 500px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
    margin-bottom: 80PX;

  }

  .img-container {
    display: flex;
    transition: transform 300ms ease-in-out;
  }

  .img-container img {
    width: 60%;
  }

  .img-container .noticia64 {
    margin-right: 150px;
  }

  .fa-solid {
    cursor: pointer;
    color: #23566B;
    position: absolute;
    transition: opacity 100ms ease-in-out;
    z-index: 100;
  }

  .fa-solid:hover {
    opacity: 1;
  }

  .previous {
    left: 4.5rem;
  }

  .next {
    right: 4.5rem;
  }

  .popular-destinations img {
    filter: none !important;
    transition: transform 0.5s, filter 0.75s;
  }

  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Flex:opsz@8..144&display=swap');

  /* Resets */
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .img1 {
    max-width: 920px;
    max-height: 465px;
    width: 100%;
    font-size: 0;
  }

  .container {
    width: 100%;
    max-width: 1150px;
    margin: auto auto;
    padding: 3rem 1rem;
  }

  .slider {
    margin: 0 1rem;
    position: relative;
  }

  .slide {
    display: block;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  }

  .slide--img {
    font-size: 0;
    overflow: hidden;
  }

  .slide--img img {
    min-height: 360px;
    object-fit: cover;
    object-position: center right;
    transition: all 0.3s ease;
  }

  .slide--img img:hover {
    transform: scale(1.25);
  }

  .slide--desc {
    margin-top: 2.5rem;
  }

  .slide--desc h2 {
    font-size: 2.8rem;
    color: #333;
    letter-spacing: -1px;
    line-height: 1;
  }

  .slide--desc h3 {
    font-size: 0.85rem;
    color: #191919;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .slide--desc p {
    margin: 2rem 0;
  }

  .slide--desc-link {
    text-align: right;
  }

  .slide--desc-link a {
    font-size: 1.125rem;
    padding-left: 6rem;
    position: relative;
  }

  .slide--desc-link a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 5.5rem;
    height: 1px;
    background-color: #191919;
  }

  .slide:not(.slide--current) {
    display: none;
  }

  .control span {
    font-size: 1.5rem;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: #3f3f3f;
    color: #fff;
    cursor: pointer;
  }

  .control--prev {
    left: 1.5rem;
    bottom: 1rem;
    padding: 26px 5px;
  }

  .control--next {
    top: 1rem;
    right: 1.5rem;
    padding: 26px 5px;
  }

  /* Queries */
  @media screen and (min-width: 960px) {
    .container .slide {
      display: grid;
      grid-template-columns: 70% 30%;
      justify-content: center;
      transition: 36s ease;
    }

    .container .slide--img {
      margin: 1rem;
      position: relative;
    }

    .container .slide--desc {
      padding-right: 2.5rem;
      padding-left: 2.5rem;
      position: relative;
    }

    .container .slide--desc::before {
      content: '';
      position: absolute;
      top: -1.5rem;
      bottom: 1rem;
      left: -1rem;
      width: 50%;
      background: rgba(153, 153, 153, .2);
    }

    .container .slide--desc h2 {
      margin-top: 3.5rem;
    }

    .container .slide--desc p {
      margin: 3rem 0 2rem;
    }

    .container .slide:not(.slide--current) {
      display: none;
    }

    .control--prev {
      left: 2.5rem;
      bottom: 45%;
    }

    .control--next {
      top: 45%;
      left: calc(70% - 3.5rem);
    }
  }

  /* Animation */
  .fade {
    transform: translateY(100%);
    opacity: 0;
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  h2.fade {
    animation-delay: 0.3s;
  }

  h3.fade {
    animation-delay: 1s;
  }

  p.fade {
    animation-delay: 1.3s;
    color: black;
  }

  a.fade {
    animation-delay: 1.5s;
  }

  .fadeimg {
    opacity: 0;
    animation-name: fadeimg;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  @keyframes fade {
    from {
      opacity: 0;
      transform: translateY(100%);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeimg {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
